*{
    text-align: center;
    font-size: larger;
}

body
{
    background-image: linear-gradient(to top, #425F57 0%, #A8E890 100%);
}

.input
{
    border-color: black;
    background-color: #307a39;
}
.titulo{
    font-family: fantasy;
    color: #367E18;
}

.agregar{
    border-color: rgb(255, 255, 255);
    background-color: #0a720f;
}

.eliminar{
    border-color: black;
    background-color: #6eb976;
}

.cambiar{
    border-color: rgb(0, 0, 0);
    background-color: #b80303;
}